html {
    box-sizing: border-box;
    color: #ffffff;
}

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #0b0b0b;
}

img {
    height: 90px;
    width: auto;
}

img:hover {
    cursor: pointer;
}

img:active {
    height: 80px;
    width: auto;
}

#btns-container {
    display: flex;
    justify-content: center;
    gap: 225px;
    align-items: center;
}

#footer {
    display: flex;
    padding: 16px;
}

#results {
    color: white;
    margin-top: 30px;
    font-size: 40rem;
    position: absolute;
    height: 100%;
    width: auto;
    top: 0%;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.human {
    flex: 1;
}

